@import '../../styles/functions';
@import '../../styles/variables';

.senders-list {
  width: 350px;
  height: calc(100vh - 16px);
  margin: 0;
  padding: 0;

  list-style-type: none;

  overflow: auto;

  &-item {
    padding: spacing(1);

    background-color: var(--color-black-200);

    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: spacing(1);
    }
  }
}
